body {
    padding-top: 5rem;
}

p {
    text-align: right;
}

.lead{
    text-align: center;
}

.container{
    text-align: center;
    background-color: chartreuse;
}
.container1{
    display:flex;

    
    
    
}
.box1{
    flex:9;
    
}
.box2{
    flex:9;
}
.box3{
    flex:9;
}